@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

* {
    margin: 0px; 
    padding: 0px;
}

html, body{
    height: 100vh; 
    width: 100vw;
    font-family: "DM Serif Text", serif;
    position: absolute;
}

header {
    background-image: linear-gradient(to top,#3B6275, #ABBEC2);
    
    text-align: center;
    padding: 15px;
    
}

.link img:hover{
    
    
    transform: translate(-2px, -3px);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.616);
    transition: transform 0.5s;
    color: #ABBEC2;
}
.link img{
        border-radius: 10px;
        background-size: cover;
        margin: 10px;
        
        
        
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.627);
        box-sizing: border-box;
}

.p1 {
    
    background-image: url(IMG_7218.jpg);
    background-size: cover;
    background-position: top center;
    height: 200px;
    text-align: center;
}
.blur {
    background-color: rgba(0, 0, 0, 0.507);
    height: 200px;
    color: white;
    font-size: 20px;
}


.blur > h1{
    font-family: "Parisienne", cursive;
    font-size: 50px;
}



 